body {
    background-color: #4a4a4a;
}

.container {
    background-color: #4a4a4a !important;
}

h1 {
    font-size: 2em;
    text-align: center;
    color: rgb(226, 226, 226);
    display: inline-block;
    padding-bottom: 12px;
}

.container {
    background: white;
    border-radius: 12px;
    padding: 24px;
}

.tabs {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tabs .tab {
    display: inline-block;
    padding: 8px 16px;
    background-color: #c0c0c0;
    color: black;
    transition: 0.3s;
    border-radius: 4px;
    text-decoration: none;
}

.tabs .tab.active {
    background-color: #4a4a4a;
    color: rgb(226, 226, 226);
}

.tabs .tab:hover {
    background-color: #4d4d4d;
    color: rgb(226, 226, 226);
}

table.data {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #4d4d4d;
    color: rgb(226, 226, 226);
    border: 1px solid #ccc;
}

table.data th,
table.data td {
    border: 1px solid #ccc;
    padding: 10px;
}

table.data th {
    background-color: #2b2b2b;
    color: rgb(226, 226, 226);
    text-align: center;
    text-transform: uppercase;
}

table.data td {
    text-align: justify;
    vertical-align: top;
}